*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
  scroll-behavior: smooth;
}
.topnav{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 0 15px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1000;
}
.topnav h2{
  color: #fff;
}
.topnav .menu-icon i{
  color: #fff;
  font-size: 30px;
}
.topnav .social-links i{
  color: #fff;
  margin: 0 5px;
}
.topnav .navbar{
  list-style-type: none;
  position: absolute;
  width:100%;
  top: 80px;
  left:0; 
  background-color: rgba(0,0,0,0.8);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transform: 0.5s;
  z-index: 9999;
  display: none;
}
.topnav .navbar li{
  padding: 8px 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  margin-bottom: 10px;
}
.topnav .navbar li:last-child{
  border: 0;
}
.topnav .navbar li a{
  color: #fff;
}
.topnav .navbar li:hover a{
  color: goldenrod;
}

.header{
  background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url("pngtree-abstract-concept-3d-render-of-a-dark-room-home-office-workspace-image_13595046.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.wrapper{
  position: relative;
  display: flex;
  justify-content: space-around;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column ;
}
.sidebar .profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar .profile img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid #444;
  object-fit: contain;
  box-sizing: 5px 7px 15px rgba(0,0,0,0.2);
}
.sidebar h2{
  margin: 15px 0;
  color: #fff;
  font-size: 24px;
}
.sidebar ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.sidebar ul li{
  margin: 7px 0;
}
.sidebar ul li a{
  color: #fff;
  transition: 0.5s;
  position: relative;
}
.sidebar .nav a:after{
  position: absolute;
  left:0;
  bottom: 0;
  content: "";
  width: 0;
  height: 3px;
  background-color: goldenrod;
  transition: 0.5s;
}
.sidebar .nav a:hover:after{
  width:100%;
}
.sidebar .social i{
  color: #fff;
  margin: 5px;
  transition: 0.5s;
  font-size: 20px;
}
.sidebar .social i:hover{
  color: goldenrod;
  margin: 5px;
  transform: rotate(360deg);
}
.hero-content{
  margin-left: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  max-width: 700px;
  min-height: 100vh;
}
.hero-content h4{
  font-size: 24px;
  font-weight: 400;
}
.hero-content h1{
  font-size: 3.5rem;
  margin: 28px;
}
.hero-content .btn{
  color: #fff;
  border: 2px solid goldenrod;
  border-radius: 30px;
  padding: 12px 35px;
  margin: 40px 0;
  transition: 0.5s;
}
.hero-content .btn:hover{
  color: #222;
  background-color: goldenrod;
}
.hero-content .input{
  color: goldenrod;
}
.open{
  display: block!important;
}
.content{
  background-color: #fff;
  margin-left: 260px;
}
.text{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}
.content h2{
  font-size: 52px;
  margin-bottom: 20px;
  text-align: center;
  color: goldenrod;
}
.content h3{
  font-size: 48px;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 18px;
  color: goldenrod;
}
.info{
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  border:2px solid #333;
  padding: 10px;
  background-color: rgba(151, 144, 144, 0.43);
  border-radius: 5px;
  width: fit-content;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.info:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 165, 0, 0.8);
}
.content ul{
  list-style-type: disc;
  padding-left: 20px;
  border:2px solid #333;
  padding: 10px;
  background-color: rgba(151, 144, 144, 0.43);
  border-radius: 5px;
  width: fit-content;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.content ul:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 165, 0, 0.8);
}
.content ul li{
  margin: 5px 0;
  margin-left: 25px;
  color: #fff;
  font-size: 20px;
}
#about{
  width: 100%;
  padding: 40px 20px;
  height: 100vh;
  box-sizing: border-box;
  background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url("pngtree-a-freelance-photographer-s-workspace-3d-illustration-of-a-camera-laptop-image_3681816.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact {
  margin-left: 256px;
  height: 100vh;
  padding: 40px 20px; 
  background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url("1e25d302451b2b45bb1250293ae0b4ce.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; 
}

.container {
  width: 80%;
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 8px;
  padding: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.container:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 165, 0, 0.8);
}

.form-box {
  display: flex;
  flex-direction: column;
}

.text-blk {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center; 
  color: goldenrod; 
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 15px;
}

.cell {
  width: 65%; 
  margin-bottom: 15px; 
}

.input-title {
  font-size: 16px;
  margin-bottom: 5px;
  color: #fff; 
}

.inpu,
.textinput {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px; 
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff; 
  font-size: 16px;
}

.inpu::placeholder,
.textinput::placeholder {
  color: rgba(255, 255, 255, 0.5); 
}

.submit-btn {
  background-color: goldenrod; 
  color: #222; 
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.submit-btn:hover {
  background-color: #fff; 
  color: goldenrod;
}
.skills {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("photo-1481151500463-1fa2dd2d5dbe.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 256px;
}

.skills .contain {
  max-width: 800px;
  width: 80%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skills .contain:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 165, 0, 0.8);
}

.skills h2 {
  font-size: 52px;
  margin-bottom: 20px;
  text-align: center;
  color: goldenrod;
}

.skills ul {
  list-style-type: none;
  padding-left: 0;
}

.skills ul li {
  margin: 10px 0;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.skills ul li i {
  margin-right: 10px;
  font-size: 24px;
}
.projects {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("ai-generated-front-view-office-desk-with-office-tools-computer-laptop-on-wood-table-background-with-copy-space-generative-ai-photo.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 40px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 256px;
}
.projects h2{
  font-size: 52px;
  margin-bottom: 20px;
  text-align: center;
  color: goldenrod;
}

.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin-bottom: 20px;
}

.project-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  cursor: pointer; 
  transition: transform 0.2s;
  text-align: center;
  width: 200px;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-description {
  max-width: 800px; 
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}
.project-item img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid goldenrod;
}

@media(min-width:900px){
  .navbar{display: none;}
  .topnav{display: none;}
}
@media(max-width:900px){
  .sidebar{
    display: none;
  }
  .hero-content{
    margin-left: 10px;
  }
  .hero-content h1{
    font-size: 2rem;
  }
  #about{height: auto;}
  .content{margin-left: 0px;}
  #contact{margin-left: 0px;}
  .skills{margin-left: 0px;}
  .projects{margin-left: 0px; height: auto;}
}